<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="Beállítások">
        <setting label="Részletes információ előtöltése" type="bool" id="infopreload" default="False"/>
        <setting label="Felirat letöltésének kísérlete" type="bool" id="downloadsubtitles" default="True"/>
	</category>
    <category label="Bejelentkezés">
        <setting label="Engedélyezve" type="bool" id="dologin" default="False"/>
        <setting label="Felhasználónév" type="text" id="username" default="" visible="eq(-1,true)"/>
        <setting label="Jelszó" type="text" id="password" option="hidden" default="" visible="eq(-2,true)"/>
        <setting id="logincookiename" visible="false" default=""/>
        <setting id="logincookievalue" visible="false" default=""/>
        <setting id="nonce" visible="false" default=""/>
        <setting id="loggedin" visible="false" default="false"/>
        <setting id="logout" type="action" label="[B][COLOR red]Kijelentkezés[/COLOR][/B]" option="close" action="RunPlugin(plugin://plugin.video.filmpapa/?action=logout)" visible="eq(-1,true)"/>
    </category>
    <category label="InputStream">
        <setting id="inputstreamsettings" type="action" label="InputStream Adaptive beállítások" option="close" action="RunPlugin(plugin://plugin.video.filmpapa/?action=inputStreamSettings)"></setting>
    </category>
</settings>
